
#jumbopic{
	background: rgba(255,255,255,0.6);
}
#jumbotron_outer_wrapper{
	
	background-image: url("images/hotdog1.png");
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}